.footer {
  background: rgba(#1e607a, 0.08);
  padding: 80px 0 40px;

  .logo {
    img {
      height: 84px;
    }

    &_btn {
      display: inline-flex;
      background: #ffffff;
      padding: 12px 70px 12px 30px;
      margin-top: 32px;
      position: relative;
      font-size: 17px;
      font-weight: 400;
      transition: 0.5s;

      &:hover {
        color: #fff;
        background: #1e607a;

        div {
          svg {
            transform: rotate(45deg);
          }
        }
      }

      div {
        background: #1e607a;
        transition: 0.5s;
        width: 40px;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
          transition: 0.5s;
          width: 16px;

          fill: #fff;
        }
      }
    }
  }

  h6 {
    text-transform: uppercase;
    color: #011821;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  a,
  p {
    display: block;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    margin-bottom: 18px;
  }

  input {
    width: 100%;
    background: transparent;
    border: 0;
    border-bottom: 1px solid rgba(#011821, 0.43);
    padding: 15px 0;
    margin-bottom: 15px;

    &::placeholder {
      font-size: 15px;
      font-weight: 400;
    }

    &:active,
    &:focus {
      outline: none;
    }
  }

  .copyright {
    text-align: center;
    margin-top: 30px;
    padding-top: 40px;
    border-top: 1px solid rgba(#1e1e1e, 0.08);

    p {
      margin-right: 10px;
    }

    a,
    p {
      margin-bottom: 10px;
      display: inline;
      font-size: 14px;
      font-weight: 300;

      small {
        font-size: 14px;
      }
    }
  }

  .newsletter {
    &_input {
      position: relative;

      input:focus + button svg {
        transform: rotate(45deg);
        opacity: 1;
      }

      button {
        background: transparent;
        border: 0;
        color: #011821;
        position: absolute;
        top: 10px;
        right: 0;
        cursor: pointer;
        z-index: 3;

        svg {
          width: 25px;
          height: 25px;
          opacity: 0.6;
          transition: 0.3s;
        }
      }
    }

    p {
      strong {
        font-weight: 600;
        font-size: 14px;
        color: #011821;
      }
    }
  }

  .social {
    margin-top: 38px;
    a {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      background: #1e607a;
      color: #fff;
      width: 34px;
      height: 34px;
      border-radius: 50%;
      margin-right: 8px;

      svg {
        width: 16px;
        height: 16px;
      }
    }
  }
}
